<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bug Squad</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/265ed8ed5a.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <header>
    <h1 class="title">Bug Squad</h1>
    <h2 class="subTitle">What bugs have you seen in your garden lately?</h2>
  </header>

  <main>
    <section class="box one">
      <h3>Bug Squad Forum</h3>
        <ul class="messages">
          <% for(var i=0; i<messages.length; i++) {%>
          <li class="message">
            <span class="name"><%= messages[i].name %></span>:
            <span><%= messages[i].msg %></span>
            <span><%= messages[i].thumbUp %></span>
            <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
            <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
            <span><i class="fa fa-trash" aria-hidden="true"></i></span>
          </li>
          <% } %>
        </ul>
    </section>
    <section class="box two">
      <h2>Add a message</h2>
      <form action="/messages" method="POST">
        <label for="name">Name: </label>
        <input type="text" placeholder="Your Name" name="name"><br>
        <label for="message">Message:</label>
        <input type="text" placeholder="Your Message" name="msg"><br>
        <button type="submit" class="btn">Post</button>
      </form>
    </section>
  </main>

  <script src="main.js"></script>

</body>
</html>
