* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: url('flowers.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

header {
  text-align: center;
  color: white;
}

.title {
  font-size: 4.5rem;
  font-weight: 900;
}

.subTitle {
  font-size: 3.25rem;
}

main {
  display: flex;
  justify-content: space-around;
  font-size: 1.75rem;
}

.one, .two {
  background: #063970;
  color: white;
  padding: 1%;
  width: 40%;
  border: 15px inset lightblue;
}

.two {
  text-align: center;
}

.message {
  margin: 4%;
}



